@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
    display: flex;
    justify-content: center;
    margin: 0 30px;
}

body * {
    font-family: 'Open Sans', sans-serif; 
    font-size: 14px;
}

.contactForm {
    border: 1px solid #000;
    padding: 10px;
    margin: 10px;
    background-color: #D8D6D7;
}

.contactForm > input {
	font-weight: 300;
    height: 40px;
    width: 40%;
    margin: 10px;
    padding-left: 20px;
}

.contactsList {
    padding: 0;
}

.contactItem {
    position: relative;
    padding: 10px 20px 20px 150px;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 10px;
    background-color: #FAFAFA;
}

.contactEmail {
	text-decoration: none;
}

.contactImage {
    position: absolute;
    height: 90%;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
} 

button {
    height: 42px;
    padding: 0 20px;
    border: 0;
    background-color: #FF1A41;
    color: #fff;
    border-radius: 10px;
}

.contactForm > input[type='email'] {
    width: 60%;
}